name: infra-cd
on:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment"
        required: true
        default: "dev"
jobs:
  tf-apply:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - name: Configure AWS (OIDC assumed role)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1
      - run: terraform -chdir=infra/terraform/envs/${{ github.event.inputs.env }} init -upgrade
      - run: terraform -chdir=infra/terraform/envs/${{ github.event.inputs.env }} apply -auto-approve
